.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Shtoni hapësirë mes elementeve të formës */
.form-group {
  margin-bottom: 1rem; /* Hapësirë e mjaftueshme poshtë çdo fushe formulari */
}

/* Shtoni hapësirë mes inputeve */
.form-control-user {
  margin-bottom: 0.75rem; /* Hapësirë mes inputeve */
}

/* Hapësirë mes butonëve */
/* Flexbox për të qendruar butonin horizontalisht dhe vertikalisht */
.btn-user {
  margin-top: 1rem; /* Hapësirë lart çdo butoni */
  display: flex;
  justify-content: center; /* E vendos përmbajtjen në qendër horizontalisht */
  align-items: center; /* E vendos përmbajtjen në qendër vertikalisht */
  width: 100%; /* Sigurohuni që butoni të mbulojë të gjithë gjerësinë */
  text-align: center; /* Sigurohuni që teksti të jetë në qendër */
}


/* Hapësirë mes seksioneve të ndryshme */
.card-body {
  padding: 2rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}